/target
**/*.rs.bk
Cargo.lock
/node_modules
/.next
/dist
/out
*.log
.env
.env.local
.DS_Store
.idea
.vscode
*.swp
*.swo
/testnet/terraform/.terraform
/testnet/terraform/*.tfstate
/testnet/terraform/*.tfstate.*
/testnet/terraform/terraform.tfvars
